body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #e0e0e0, #c0c0c0); /* Light gray gradient */
    background-attachment: fixed; /* Keeps the gradient fixed when scrolling */
}
button {
/*     padding: 10px 20px;
    margin: 5px;
    font-size: 16px; */
    .btn-success {
    background-color: #238636; /* GitHub green */
    border-color: #238636;
}

.btn-danger {
    background-color: #da3633; /* GitHub red */
    border-color: #da3633;
}

}
